<div class="container">
  <form action="buscaReclamo" method="post">
    <select name="fechaFiltro" id="fechaFiltro">
      <option><%= fechaFiltro %></option>
      <%
      for(var i=0; i< reclamos.length; i++) {
        var c = 0;
        for(var j=0; j< i; j++){
          if(reclamos[j].fecha == reclamos[i].fecha){
            c++;
          }
        }
        if(c == 0){
          %>
          <option><%= reclamos[i].fecha %></option>
      <% }}
      %>
    </select>
    <input class="button_1" type="submit" name="envio" value="Buscar Reclamo">
  </form>

  <p><%= fechaFiltro %></p>
  <table>
   <tr>
       <td>id</td>
       <td>Tipo Reclamo</td>
       <td>Observacion</td>
       <td>Fecha</td>
    </tr>
  <%
  for(var i=0; i< reclamos.length; i++) {
    if(reclamos[i].fecha == fechaFiltro){ %>
       <tr>
           <td><%= i %></td>
           <td><%= reclamos[i].tipoReclamo %></td>
           <td><%= reclamos[i].observacion %></td>
           <td><%= reclamos[i].fecha %></td>
        </tr>
  <% }}%>
  </table>
</div>
